.container {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #141414;
}

.hero-container {
    width: 100%;
    position: relative;
}

.movie-list-container {
    padding: 2rem;
    flex: 1;
}