.container {
    display: flex;
    align-items:  center;
    gap: 10px;
    background-color: #141414;
    padding: 10px;
    color: red;
    height: 100px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    color: rbg(213, 173, 53);
    margin-left: auto;
    margin-right: auto;
}